<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%= url("too_much.css") %>" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<div class="booking-container">
<header>
<h2>Complete your booking</h2>
</header>

<main class="lets-book">

<div class="left"></div>

<div class="booking-recap">
 <% @booking_cart.map do |booking| %>


  <form class="confirmation-form" action="/accommodations/<%= booking.id %>/bookings/new" method="post">
  <label for="">Name: </label><%= booking.title %> <br /><br />
  <label for="">Host: </label><%= booking.id %><br /><br />
  <label for="">Description: </label><%= booking.description %><br /><br />
  <label for="">Price: </label>£<%= booking.price %><br /><br />
  <label for="">Date: </label><input type="Date" name="date" class="date" required><br /><br />
  <input class="Book-btn" type="submit" value="Book">
  </form>
  <% end %>
   </div>
<div class="right"></div>

   </main>

<footer>
  <div class="credit">
      <p>&copy; TooMuchSauce &nbsp;-&nbsp; Blue March 2021</p>
    </div>
</footer>
</div>
</body>
</html>